.tooltip {
  background-color: black;
  color: white;
  border-radius: 16px;
  font-size: 0.8rem;
  padding: 0.4rem 0.8rem 0.4rem 0.8rem;

  &.popover {
    $color: #f9f9f9;

    .popover-inner {
      background: $color;
      color: black;
      padding: 24px;
      border-radius: 5px;
      box-shadow: 0 5px 30px rgba(black, 0.1);
    }

    .popover-arrow {
      border-color: $color;
    }
  }
}
